
.Content_Box {
	font-family:  Verdana,"Trebuchet MS", Arial, Helvetica, sans-serif;	font-size: 10px;
	text-align:justify;	color: #757575;
	background-color:#f7f7f7;	border: 1px solid #ccc;
	left:0px;
	margin-left:8px; margin-bottom:7px; 
	padding-left:15px; padding-top:1px; padding-bottom:3px;padding-right: 16px;
	line-height:21px;
	font-size:12px;
}
.BorderlessContent_Box {
	font-family:  Verdana,"Trebuchet MS", Arial, Helvetica, sans-serif;	font-size: 10px;
	text-align:justify;	color: #000000;
	/*background-color:#CADFCA;*/
	left:0px;
	margin-left:8px; margin-bottom:7px; 
	padding-left:15px; padding-top:1px; padding-bottom:3px;padding-right: 16px;
	line-height:21px;
	font-size:12px;
}
.PlainContent_Box {
	font-family:  Verdana,"Trebuchet MS", Arial, Helvetica, sans-serif;	font-size: 10px;
		color: #757575;
	left:0px;
	margin-left:8px; margin-bottom:7px; 
	padding-left:15px; padding-top:1px; padding-bottom:3px;padding-right: 16px;
	line-height:21px;
	font-size:12px;
}
.PlainContent_Box1 {
	font-family:  Verdana,"Trebuchet MS", Arial, Helvetica, sans-serif;	font-size: 10px;
		color: #757575;
	left:0px;
	margin-left:0px; margin-bottom:0px; 
	padding-left:0px; padding-top:0px; padding-bottom:0px;padding-right: 0px;
	line-height:15px;
	font-size:12px;
}
.PlainContent_Box2 {
	font-family:  Verdana,"Trebuchet MS", Arial, Helvetica, sans-serif;	font-size: 10px;
		color: #757575;
	left:0px;
	margin-left:0px; margin-bottom:0px; 
	padding-left:0px; padding-top:0px; padding-bottom:0px;padding-right: 0px;
	line-height:15px;
	/*background-color:#CADFCA;*/
	font-size:12px;
}
.Content_Box_Backup {
	font-family:  Verdana,"Trebuchet MS", Arial, Helvetica, sans-serif;	font-size: 10px;
	text-align:justify;	color: #757575;
	background-color:#F8F9FA;	border: 1px solid #ccc;
	left:0px;
	margin-left:8px; margin-bottom:7px; 
	padding-left:15px; padding-top:1px; padding-bottom:3px;padding-right: 16px;
	line-height:21px;
	font-size:12px;
}
.Orange_Header_Text{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 12px;
	color: #F90;
	margin-bottom:5px;
}
.Grey_Header_Text{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 12px;
	color: #999;
	margin-bottom:5px;
}
.Black_Header_Text{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 12px;
	color: #000;
	margin-bottom:5px;
}
.Blue_Header_Text{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 12px;
	color: #003399;
	margin-bottom:5px;
}
.PageHeader {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-image:url(../images/BG_Top_Page_Header.jpg); background-repeat:repeat-y;
	background-position:left;
	font-size: 18px; color:  #0033FF; font-weight:bold;
	border: 1px solid #96BFFE;
	left:0px; top:0px; 
	margin-left:8px; margin-bottom:5px; 
	padding-left:18px;  padding-right: 5px; /padding-top:4px;
}

ul {
	font-family:Verdana, "Trebuchet MS",  Arial, sans-serif;
	//font-size:12px;
	list-style-image: url('../images/bullet2.gif');
	margin-left:16px;
	line-height:15px;
}
li {
	margin-bottom: 5px;
}

.ImageStyle{
		padding:4px; 
		border-style:solid;  
		border:1px; border-color:#CCCCCC; 
		background-color:#FFFFFF;
}
	

a {
	color: #003300;
	text-decoration:none
}
A.link{
	color:#0000FF;	text-decoration:none;
	}	
A:visited{
	color: #005500; text-decoration:none;
	}	
A:hover{
	color: #995500;text-decoration:none;
	}
	
A.Footer_Text:link{
	color: #666666; text-decoration:none;
	}
A.Footer_Text:visited{
	color: #7C7C7C; text-decoration:none;
	}	
A.Footer_Text:hover{
	color:  #0033FF; text-decoration:none;
	}
A.Footer_Text:visited:hover{
	color: #0033FF; text-decoration:none;
	}


.Content_Text{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #757575;
	left:0px;
	padding:4px;
}

.textbar{background-image:url(img/textbar.jpg);
	background-repeat:no-repeat;
	background-position:left;
	font-family:  Verdana,"Trebuchet MS", Arial, Helvetica, sans-serif;	font-size: 10px;
	text-align:justify;	color: #000000;
	left:0px;
	margin-top:0px; margin-bottom:0px; 
	padding-left:2px; padding-top:1px; padding-bottom:3px;padding-right: 16px;
	line-height:21px;
	font-size:12px;
}
.titletext{background-image:url(img/title.png);
	background-repeat:no-repeat;
	background-position:left bottom;
	font-family:  Verdana,"Trebuchet MS", Arial, Helvetica, sans-serif;	font-size: 10px;
	text-align:justify;	color: #000000;
	left:0px;
	margin-top:0px; margin-bottom:0px; 
	padding-left:2px; padding-top:1px; padding-bottom:3px;padding-right: 16px;
	line-height:21px;
	font-size:14px;
}
.LinkText{background-image:url(img/href1.jpg);
	background-repeat:no-repeat;
	background-position:left center;
	font-family:  Verdana,"Trebuchet MS", Arial, Helvetica, sans-serif;	font-size: 10px;
	text-align:justify;	color: #000000;
	left:0px;
	margin-top:0px; margin-bottom:0px; 
	padding-left:10px; padding-top:0px; padding-bottom:0px;padding-right: 16px;
	line-height:21px;
	font-size:12px;
}
.LinkTextSel{background-image:url(img/href2.jpg);
	background-repeat:no-repeat;
	background-position:left center;
	font-family:  Verdana,"Trebuchet MS", Arial, Helvetica, sans-serif;	font-size: 10px;
	text-align:justify;	color: #000000;
	left:0px;
	margin-top:0px; margin-bottom:0px; 
	padding-left:10px; padding-top:0px; padding-bottom:0px;padding-right: 16px;
	line-height:21px;
	font-size:12px;
}
.VerticalRuler{
border-left:thin dotted;
}
.HorizontalRuler
{
	background-image:url(img/hr.png);
	background-repeat:repeat-x;
	background-position:center;
}